<header>
  <nav class="menu">
    <ul>
      <li><%= link_to "Home"%></li>
      <li><%= link_to "Users"%></li>
      <li><%= link_to "Profile" %></li>
      <li><%= link_to "Settings"%></li>
      <li><%= link_to "Help" %></li>
      <li><%= link_to "Graffiti"%></li>
    </ul>
  </nav>
</header>

